@import url(//db.onlinewebfonts.com/c/629ed6829f706958b9bdf4f6300dfca0?family=Sharp+Grotesk+SmBold+20);

@font-face {
  font-family: "Sharp Grotesk SmBold 20";
  src: url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.eot");
  src: url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.svg#Sharp Grotesk SmBold 20")
      format("svg");
}
h1,h2,h3,h4,h5,h6 { 
  text-align: center;  
  margin-top: 0px;
  margin-bottom: 0px;  
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 2%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  background-color: #2c3440;
  box-sizing: border-box;
  /*overflow: hidden;*/
  font-family: "Sharp Grotesk SmBold 20", sans-serif;
  color: #f1f3f5;
}

p {
  margin: 0px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.9r 1.1fr 1fr 1fr 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Title Title Title Title Title Title Title Title Title"
    "GenreList GenreList Sliders Sliders Sliders Sliders Sliders Sliders Sliders"
    "GenreList GenreList geo geo geo geo YearChart YearChart YearChart"
    "GenreChart GenreChart geo geo geo geo YearChart YearChart YearChart"
    "GenreChart GenreChart geo geo geo geo YearChart YearChart YearChart"
    "BarChart BarChart BarChart ScatterPlot ScatterPlot ScatterPlot YearChart YearChart YearChart"
    "BarChart BarChart BarChart ScatterPlot ScatterPlot ScatterPlot YearChart YearChart YearChart";
  /*grid-gap: 8px;*/
  /*padding: 8px;*/ /* NEW */
  height: 100vh;
  /*justify-items: center;*/
  /*align-items: center;*/
  min-height: 0;  /* NEW */
  min-width: 0;   /* NEW; needed for Firefox */
}

.graphic {
  border: 1px solid #678;
}

#Title {
  grid-area: Title;
  text-align: center;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  background-color: #14181c;
  /* background-image: url("cinema.jpg"); */
  object-fit: fill;
}

#GraphTitle {
  text-align: center;
  justify-items: center;
  align-items: center;
  /* font-size: 2vh; */
}

#GenreList {
  grid-area: GenreList;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px;
  /*background-color: yellow;*/
}

#Sliders {
  grid-area: Sliders;
  /*background-color: royalblue;*/
}

#GenreChart {
  grid-area: GenreChart;
  /*background-color: aquamarine;*/
}

#BarChart {
  grid-area: BarChart;
  /*background-color: yellowgreen;*/
}

#ScatterPlot {
  grid-area: ScatterPlot;
}

#geo {
  grid-area: geo;
  padding-left: 3px;
}

#legend {
  margin-left: 15%;
  font-size: 1.5vh;
}

#YearChart {
  grid-area: YearChart;
  /*background-color: darkkhaki;*/
}

#x-label,
#y-label {
  font-family: "Sharp Grotesk SmBold 20", sans-serif;
  color: #f1f3f5;
  font-size: 1.5vh;
}

.button {
  background-color: #40bcf4;
  font-family: "Sharp Grotesk SmBold 20", sans-serif;
  color: #f1f3f5;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /*margin: 4px 2px;*/
  padding: 0.5%;
  cursor: pointer;
}


