@import url(//db.onlinewebfonts.com/c/629ed6829f706958b9bdf4f6300dfca0?family=Sharp+Grotesk+SmBold+20);

body {
  margin: 0;
  background-color: #2c3440;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Sharp Grotesk SmBold 20";
  color: #f1f3f5;
}

@font-face {
  font-family: "Sharp Grotesk SmBold 20";
  src: url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.eot");
  src: url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/629ed6829f706958b9bdf4f6300dfca0.svg#Sharp Grotesk SmBold 20")
      format("svg");
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.9r 1.1fr 1fr 1fr 2fr 1fr;
  gap: 0px 0px; 
  grid-template-areas:
    "Title Title Title Title Title Title Title Title Title"
    "GenreList GenreList Sliders Sliders Sliders Sliders Sliders Sliders Sliders"
    "GenreList GenreList geo geo geo geo YearChart YearChart YearChart"
    "GenreChart GenreChart geo geo geo geo YearChart YearChart YearChart"
    "GenreChart GenreChart geo geo geo geo YearChart YearChart YearChart"
    "BarChart BarChart BarChart scatter scatter scatter YearChart YearChart YearChart"
    "BarChart BarChart BarChart scatter scatter scatter YearChart YearChart YearChart";
  /*grid-gap: 8px;*/
  /*padding: 8px;*/ /* NEW */
  height: 100vh;
  /*justify-items: center;*/
  /*align-items: center;*/
}

.graphic {
  border: 1px solid #678;
}

#Title {
  grid-area: Title;
  text-align: center;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  background-color: #14181c;
}

#GenreList {
  grid-area: GenreList;
  /*background-color: yellow;*/
}

#Sliders {
  grid-area: Sliders;
  /*background-color: royalblue;*/
}

#GenreChart {
  grid-area: GenreChart;
  /*background-color: aquamarine;*/
}

#BarChart {
  grid-area: BarChart;
  /*background-color: yellowgreen;*/
}

#scatter {
  grid-area: scatter;
}

#geo {
  grid-area: geo;
  padding-left: 3px;
}

#geo-label {
  margin-left: 15%;
}

#YearChart {
  grid-area: YearChart;
  /*background-color: darkkhaki;*/
}

#y-label {
  padding-bottom: 30px;
}

.button {
  background-color: #4c56af;
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
